<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">DocTrack</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="/collect">Collect Document</a></li>
            <li class="nav-item"><a class="nav-link" href="/submit">Submit Document</a></li>
            <li class="nav-item"><a class="nav-link" href="/status_update">Update Status</a></li>
        </ul>
    </div>
</nav>
